[user]
	name = Ben Burrill
	email = bburrill98@gmail.com

[merge]
    # ~requires meld
	tool = meld

[mergetool]
	keepBackup = false

[hub]
	protocol = https
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
